@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  scroll-behavior: smooth;
}

.c1{
    margin-top: 20px ;
    left: 20px;
  }
  body{
    font-family: roboto, sans-serif;
    overflow-x: hidden;
    background-color: rgba(231, 231, 231, 0.559)
  }

  section{
    min-height: 100vh;
  }

  .contlayout1{
    background-color: white;
    border-radius: 5px;
    min-height: 30vh;
    box-shadow: 0px 0px 8px rgba(212, 212, 212, 0.479);
    transition: all .5s ease-in-out;
    cursor: pointer;
  }
  
  .contlayout1:hover{
    box-shadow: 0px 2px 8px rgba(207, 207, 207, 0.653);
    transform: translate(0px, -5px);
  }
  
  .contlayout{
    background-color: white;
    border-radius: 5px;
    min-height: 30vh;
    box-shadow: 0px 0px 8px rgba(212, 212, 212, 0.479);
  }

  .tajText{
    color: rgb(172, 36, 45);
    font-weight: 700;
  }

  .myBtn{
    width: 30%;
    min-height: 50px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #0a0239;
    padding: 5px;
    color: #0a0239;
    transition: all .2s ease-in-out;
  }

  .myBtn:hover{
    background-color: #150378;
    color: white;
  }


  svg{
    flex-direction: row;
    fill:#0a0239;
    width: 23px;
    height: 23px;
}



.navbar{
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index:1000;
    box-shadow: 0px 0px 8px rgba(203, 203, 203, 0.642);
    }
    
    .navbar .nav-link{
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    color: #494949fa;
    /* add a hovering transition of changing color */
    transition: color 0.2s ease-in-out;
    }
    
    .navbar .nav-link:nth-child(n):hover{
    color: #a40303;
    }
    
    .navbar .nav-link.active{
    color: #a40303;
    font-weight:600;
    }
    
    .navbar .navbar-brand img{
    max-height: 40px;
    }
    
    .navbar .navbar-brand i{
        font-weight: 700;
        font-style: normal;
        padding: 10px;
    }
    
    .navbar .navbar-toggler{
    border:none !important;
    outline: none !important;
    box-shadow: none !important; 
    }
    
    .navbar .toggle-btn{
    cursor: pointer;
    position: relative;
    top: 5px;
    z-index: 1100;
    }
    
    .navbar .toggle-btn .bar{
    width: 25%;
    height: 3px;
    margin: 7px 0 7px auto;
    transition: all .2s ease-in-out;
    background-color: #0b0b0b;
  }
  
  .navbar .toggle-btn .bar:nth-child(n){
    width: 35px;
  }
  
    .navbar #toggle-menu{
      display: none;
    }
    
    .profile{
      background-color: whitesmoke;
      border-radius: 100%;
      height: 40px;
      width: 40px;
      cursor: pointer;
    }

    .profile:hover{
      background-color: #e0e0e0;
      cursor: pointer;
    }

    .profPic{
      height: 40px;
      width: 40px;
      border-radius: 100%;
      transition: all .2s ease-in-out;
    }
    

    li.dropdown {
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 165px;
      box-shadow: 0px 8px 16px 0px rgba(147, 147, 147, 0.2);
      z-index: 1;
      border-radius: 5px;
      opacity: 0.9;
      border: 1px solid #bcbcbcb3;
      transform: translate(-30px, 2px);
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1;}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }


    /* navbar ends */
    

  /* Footer */
  .fa:not(#chevron) {
    font-size: 16px;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background-color: #4a161661;
    margin: 10px;
    margin-top: 20px;
  }
  .fa:hover:not(#chevron) {
    background-color: #ff6868;
    color: black;
    #Capa_1{
      fill: black;
    }
  }
  .fa-facebook {
    background-color: #4a161661;
    padding-top: 10px;
    color: #fff;
  }

  #up{
    width: 20px;
    height: 20px;
    fill: rgb(0, 0, 0);
    margin-right: 2px;
  }
 
  #Capa_1{
    fill: white;
    padding-top: 8px;
  }

  .triangle-up {
    position: relative;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #fff;
    margin-top: 40px;
    bottom : 10px;
  }
  .triangle-up i {
    color: #fff;
    position: relative;
    top: 12px;
    right: 10px;
  }

  .triangle-up:hover {
    border-bottom: 40px solid #ededede8;
    cursor: pointer;
  }
  
  #chevron{
    color:rgb(0, 0, 0);
  }   

  .footerMain{
    min-height: 60vh;
    width: 100%;
    background-color: rgb(141, 38, 45);
    color: rgb(227, 226, 226);
  }

  .footerSec{
    height: 30vh;
  }

  
  .svgBtn{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #4a161661;
    padding: 8px;
  }
  
  .svgBtn svg{
    fill: rgba(255, 255, 255, 0.831);
  }

  /* Footer ends */

  #homeSVG{
    fill: rgb(169, 22, 32);
    margin-bottom: 4px;
    padding: 1px;
  }

  .text-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
    font-weight: 700;
    color: rgb(79, 8, 13);
    text-align: center;
    height: 100%;
  }

  .text-cont:hover{
    cursor: pointer;
  }

  .backSVG{
    height: 22px;
    width: 22px;
    fill: grey;
  }

  .backBtn{
    height: 50px;
    width: 50px;
    border: none;
    background-color: #fffefe70;
    border-radius: 100%;
    font-size: x-large;
    color:#7e7d7d;
    box-shadow: 0px 1px 4px #3e3e3e78;
  }
  
  .backBtn:hover{
    background-color: #dbdbdb4e;
    color: #4b4b4b;
    box-shadow: 0px 1px 4px #3e3e3ead;
    .backSVG{
      fill: #4b4b4b;
    }
  }

  
  .myBtn5{
    width: 120px;
    min-height: 40px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(169, 22, 32);
    color: white;
    border: 2px solid rgb(169, 22, 32);
    transition: all .2s ease-in-out;
  }

  .myBtn5:hover{
    background-color: rgb(121, 8, 16);
    border: 2px solid rgb(121, 8, 16);
    color: rgb(213, 213, 213);
    #addNewSvg2{
      fill: rgb(193, 193, 193);
    }
  }
  #addNewSvg2{
    fill: white;
    width: 20px;
    height: 20px;
    transition: all .2s ease-in-out;
  }

  

  .myBtn6{
    width: 30px;
    min-height: 40px;
    padding: 5px;
    border-radius: 100%;
    background-color: transparent;
    color: white;
    border: none;
    transition: all .5s ease-in-out;
    margin-left: 15px;
  }

  #Bold{
    width:15px;
    height:18px;
    fill: rgb(130, 130, 130);
    transition: all .2s ease-in-out;
  }

  #search{
    fill: rgb(130, 130, 130);
    transition: all .2s ease-in-out;
  }

  #refresh{
    fill: rgb(130, 130, 130);
    transition: all .2s ease-in-out;
    width: 21px;
    height: 21px;
  }

  .myBtn6:hover{
    #search{
      fill: rgb(58, 58, 58);
    }
    #refresh{
      fill: rgb(58, 58, 58);
    }
    #Bold{
      fill: rgb(58, 58, 58);
    }
  }

  .constant-width{
    width:100px;
  }
  .constant-width2{
    width:200px;
  } 

  .label-select-container {
    display: flex;
    align-items: center;
  }
  
  .label-select-container label {
    margin-right: 10px;
    margin-left: 20px;
    width: 250px;
  }

  .muted{
    color: #9ca1a5;
  }
  
  .clickTable:hover{
    cursor: pointer;
  }

  .Present{
    display: inline-block;
    background-color: #008f2b;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
    outline: none;
    cursor: pointer;
    border: none;
  }

  .Present:hover{
    background-color: #00661f;
  }

  .Absent{
    background-color: rgb(210, 14, 27);
    display: inline-block;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    width: 50px;
    outline: none;
    border: none;
  }

  .Absent:hover{
    background-color: rgb(169, 22, 32);;
  }

  .border{
    border: 1px solid #0e0e0e;
  }

  .batchLinksold{
    color: #7e0015;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    margin-left: 23px;
  }

  .batchLinksActive{
    color: #008433;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
  }

  .online{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #008f2b;
    margin-right: 10px;
    display: inline-block;
  }

  .alert{
    position: absolute;
    z-index: 1100;
    width: 250px;
    left: 4%;
    opacity: 0;
  }
  
  .alert.show{
    opacity: 1;
    z-index:1100;
    animation: hide 3s ease-in-out forwards;
  }

  
  @keyframes hide{
    0%{
      opacity: 0;
    }
    20%{
      opacity: 1;
      z-index:1100;
    }
    80%{
      opacity: 1;
      z-index:1100;
    }
    100%{
      opacity: 0;
    }
  }


  .delBtn{
    background-color: rgb(244, 0, 0);
    width: 50px;
    border: 2px solid rgb(244, 0, 0);
  }

  .delBtn:hover{
    background-color: #b80000;
    border: 2px solid #b80000;
  }
  #exampleModal {
    z-index: 9999; /* Adjust the value as needed */
  }
  

.circle{
  height: 10px;
  width: 10px;
  border-radius: 100%;  
  background-color: green;
  display: inline-block;
}

#inputMarks{
  width: 55px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #4e4e4eb1;
  outline: none;
  padding: 5px;
}

.hideShowToggle{
  width: 70px;
  height: 40px;
  border-radius: 10px;
  background-color: #f5f5f5;
  border: 1px solid #4e4e4eb1;
  outline: none;
  padding: 5px;
  cursor: pointer;
}
